.card {
  background: aliceblue;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
}
.info {
  display: flex;
  align-items: center;
}

.thumb {
  margin-right: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
