.stages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stages_list {
  display: flex;
  justify-content: space-between;
}

.stage,
.stage-col {
  width: 30%;
  padding: 10px;
}

.stage {
  font-size: 20px;
  text-transform: uppercase;
}

.stages {
  text-align: center;
}
